<div *ngIf="isnews" class="container ">
<ul class="list-group" *ngFor="let article of articles">
  <li class="list-group-item" style="margin: 5px 0; display: flex; justify-content: space-between; align-items: center">
    <div class="text-left" style="overflow: hidden;">
      <img [src]="article.urlToImage || article.title" style="height: 50px; float: left">
      <h4>{{article.title | titlecase }}</h4>
      <i>{{article.author | uppercase}}</i>
      <p>{{article.description | lowercase}}</p>
      <div>Date:{{article.publishedAt | date}}</div>
    </div>
    <div *ngIf="isnews" class="text-right">
      <button routerLink="news/edit/{{article._id}}" class="btn btn-info" title="edit article" (click)="update(article._id)">Update</button>
      <button class="btn btn-danger" title="delete article" (click)="delete(article)">Delete</button>
    </div>
  </li>
</ul>
</div>
