<form [formGroup]="articleForm" (ngSubmit)="onSubmit()" style="display: flex; justify-content: center" class="form container" newsTitle.value=''>
    <div style="margin: 5px">
        <div class="form-group">
            <label for="title">Heading
                <input formControlName="title" #newsTitle class="form-control" id="title" placeholder="News Name">
                <div *ngIf="submitted && articleForm.controls.title.errors" class="error">
                    <div *ngIf="submitted && articleForm.controls.title.errors.required" class="text-danger">title is required</div>
                </div>
            </label>
        </div>
        <div class="form-group">
            <label for="newsDescription">Short Description
                <input formControlName="description" #newsDescription class="form-control" id="newsDescription" placeholder="News Description">
            </label>
        </div>
        <div class="form-group">
            <label for="newsContent">Content
                <textarea formControlName="content" class="form-control" id="newsContent" placeholder="News Description"></textarea>
                <div *ngIf="submitted && articleForm.controls.content.errors" class="warning">
                    <div *ngIf="submitted && articleForm.controls.content.errors.required" class="text-danger">content is required</div>
                </div>
            </label>
        </div>
    </div>
    <div style="margin: 5px">
        <div class="form-group">
            <label for="inputImage">Image
              <label for="URLChoice" (click)="setImgSource(true)"><input type="radio" id="URLChoice" name="contact" [value]="urlSource">URL</label>
              <label for="fileChoice" (click)="setImgSource(false)"><input type="radio" id="fileChoice" name="contact" [value]="fileSource">File</label>
              <input formControlName="image" class="form-control" id="inputImage" placeholder="image" [value]="imageSource" >
            </label>
        </div>

        <div class="form-group">
            <label for="inputDate">Date
              <input formControlName="date" class="form-control" id="inputDate" type="date" #myDate [value]="today | date:'yyyy-MM-dd'" (input)="today=parseDate($event.target.value)" />
            </label>
        </div>

        <div class="form-group">
            <label for="inputUrl">Source Url
                <input formControlName="url" class="form-control" id="inputUrl" placeholder="Url">
            </label>
        </div>
      <button [disabled]="articleForm.invalid" (click)="reRouteToMainPage('news')" class="btn btn-success">Save</button>
        <button (click)="reRouteToMainPage('news')" class="btn btn-warning">Cancel</button>
    </div>
</form>
