<div  class="container ">
  <ul class="list-group">
    <li class="list-group-item" style="margin: 5px 0; display: flex; justify-content: space-between; align-items: center">
      <div class="text-left" style="overflow: hidden;">
        <img [src]="'https://ichef.bbci.co.uk/news/1024/branded_news/7A23/production/_97176213_breaking_news_bigger.png'" style="height: 50px; float: left">
        <h4>{{article.title | titlecase }}</h4>
        <i>{{article.author | uppercase}}</i>
        <p>{{article.description | lowercase}}</p>
        <div>Date:{{article.publishedAt | date}}</div>
      </div>
      <div class="text-right">
       <button (click)="reRoute('create')" class="btn btn-info" title="edit article">Update</button>  <!--(click)="update(article._id, article)"-->
        <button (click)="reRoute('news')" class="btn btn-danger" title="delete article" (click)="delete(article._id)">Delete</button>
      </div>
    </li>
  </ul>
</div>
