<div class="container ">
    <ul class="list-group">
      <li class="list-group-item" style="margin: 5px 0; display: flex; justify-content: space-between;">
        <app-article [article]="article" [extended]="true"></app-article>
            <div class="text-right">
                <button (click)="reRoute('news/edit/id', true)" class="btn btn-info" title="edit article">Edit</button>
                <!--(click)="update(article-container._id, article-container)"-->
                <button (click)="reRoute('news', false)" class="btn btn-danger" title="delete article" (click)="delete(article._id)">Delete</button>
            </div>
        </li>
    </ul>
</div>
