.layout {
  .container {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    .buttons {
    }
  }
}
.sourcename {
  height: 50px;
  background-color: lightgray;
  text-align: center;
  border: 1px solid grey;
}
