        <li class="list-group-item" style="margin: 5px 0; display: flex; justify-content: space-between;">
          <app-article [article]="newsArticle" [extended]="false"></app-article>
            <div *ngIf="isMynews" class="text-right">
               <button routerLink="news/{{article._id}}" class="btn btn-info" title="edit article" (click)="update(article._id)">Update</button>  <!--(click)="reRoute('news/{{article-container._id}}')"-->
                <button routerLink="news" class="btn btn-danger" title="delete article" (click)="delete(article._id)">Delete</button>
            </div>
        </li>

